Django==1.7
djangorestframework
MySQL-python==1.2.5
raven==5.1.1                                                       
logtool
pyver
django-model-utils==2.2
addict
retryp
celery
architect
rainbow_logging_handler
