BROKER_URL = "${qeventlog.broker_url}"
DATABASES = {
  "default": {
     "ENGINE": "django.db.backends.postgresql_psycopg2",
     "NAME": "${qeventlog.db_name}",
     "HOST": "${qeventlog.db_host}",
     "USER": "${qeventlog.db_user}",
     "PASSWORD": "${qeventlog.db_passwd}",
  }
}
# http://raven.readthedocs.org/en/latest/config/django.html
RAVEN_CONFIG = {
  "dsn": "sync+${qeventlog.sentry_dsn}",
}
